/bin
/out
/run
*.classpath
*.project
.settings/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
build/
eclipse/
forge-1.6.4-9.11.1.964-changelog.txt
.gradle/
output/
.cache
*.iml
*.ipr
*.iws
*.idea/
logs/
html/downloads/
downloads/
settings/
*.xml
VoltzEngine.txt
Voltz-Engine-Essentials.txt
VoltzEngineEssentials.txt
CompiledWith.txt
AI-Improvements.txt
