# AI Improvements

## AI Object
public net.minecraft.world.entity.ai.goal.GoalSelector availableGoals

## Entity
public net.minecraft.world.entity.Mob lookControl

## Look Control
public net.minecraft.world.entity.ai.control.LookControl xMaxRotAngle
public net.minecraft.world.entity.ai.control.LookControl yMaxRotSpeed
public net.minecraft.world.entity.ai.control.LookControl lookAtCooldown

## Squid
public net.minecraft.world.entity.animal.Squid$SquidRandomMovementGoal
public net.minecraft.world.entity.animal.Squid$SquidFleeGoal

## Pufferfish
public net.minecraft.world.entity.animal.Pufferfish$PufferfishPuffGoal